    /* Variables Sass */
    :root {
      --primary-color: #0da6b4f6;
      --secondary-color: #3e4347;
      --font-family: sans-serif;
      --header-font-size: 22px;
      --body-font-size: 14px;
    }

    /* Estilos para la navegación */
    .navbar {
      background-color: var(--primary-color);
      font-family: var(--font-family);
    }

    .navbar > .navbar-brand {
      font-size: var(--header-font-size);
      color: rgb(60, 112, 233);
    }

    .navbar > .navbar-brand:hover {
      color: var(--secondary-color);
    }

    .navbar .nav-link {
      font-size: var(--body-font-size);
      color: white;
    }

    .navbar .nav-link:hover {
      color: var(--secondary-color);
    }

    /* Estilos para el contenido principal */
    .container {
      text-align: center;
    }

    .container h1 {
      color:  var(--primary-color);
      font: var(--header-font-size) var(--font-family);
    }

    .container p {
      font-size: var(--body-font-size);
      color: var(--secondary-color);
    }

    /* Estilos para el formulario de búsqueda */
    .form-inline {
      margin-top: 20px;
    }

    .form-inline .form-control {
      width: 300px;
      margin-right: 10px;
    }

    .form-inline .btn {
      font: var(--body-font-size) var(--font-family);
    }